*{
	box-sizing: border-box;
	text-align: center;
	background:gray;
	box-sizing: content-box;
}

header{
	padding: 20px;
	margin-bottom: 20px;
	background: #ccc;
	width: 80%;
}

#nav{
	padding: 20px;
	margin-bottom: 20px;
	background: #ccc;
	width: 80%;
}

#section{
	float: right;
	background: #ccc;
	padding: 20px;
	margin-bottom: 20px;
	width: 50%;
	height: 200px;

}

#full{

	float:left;
	background: #ccc;
	padding: 20px;
	margin-bottom: 20px;
	width: 40%;
	height: 200px;
}

footer{
	clear: both;
	padding: 20px;
	margin-bottom: 20px;
	background: #ccc;
	width: 80%;
}

aside{

	float: right;
	background: #ccc;
	height: 200px;
	margin-bottom: 20px;
	width: 40%;
	height: 250px;
	overflow: auto;
	margin-right: 15%;

}